{% extends 'layout-side-nav.html' %}
{% import '_vars-the-bureau.html' as vars with context %}
{% import 'molecules/featured-content.html' as featured_content %}

{% block title -%}
    The Bureau | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Information on the leadership, structure, and history of the CFPB.
{%- endblock %}

{% block content_modifiers -%}
    {{ super() }}
    the-bureau
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content_main %}
{% set prototype = true %}
<form class="js-validate-filters" id="registration-form">
    <h2>Register for the conference</h2>
    <section class="o-form-section">
        {% do global_dict.update({
            'input': {
                'label':    'Name',
                'type':     'text',
                'size':     '1',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Organization',
                'type':     'text',
                'size':     '1',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':   'Email',
                'type':    'email',
                'size':    '1',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% import 'atoms/large-checkbox.html' as large_checkbox %}
        {{ large_checkbox.render({
            "legend":   'Which days will you be attending?',
            "fields":    [ 'Thursday afternoon',
                           'Friday afternoon'],
            "single_column":     false
        },{}) }}

        {% do global_dict.update({
            'textarea': {
                'label':      'Do you have food allergies/restrictions?',
                'helperText': false,
                'required':   true,
                'disabled':   false
            }
        }) %}
        {% set value = global_dict.textarea %}
        {% include 'atoms/textarea.html' with context %}

        {% do global_dict.update({
            'textarea': {
                'label':      'Will you require any accomodations to attend?',
                'helperText': 'Examples: hearing, parking space, breastfeeding',
                'required':   true,
                'disabled':   false
            }
        }) %}
        {% set value = global_dict.textarea %}
        {% include 'atoms/textarea.html' with context %}

    </section>
    {% do global_dict.update({
    'submit_button': {
        'button_text': 'Register'
    }
    }) %}
    {% set value = global_dict.submit_button %}
    {% include 'atoms/submit-button.html' with context %}
</form>
{% endblock %}
